<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="shared/layout">
<head>
    <meta charset="utf-8"/>
    <title>Register | JF</title>
</head>
<body>
<div layout:fragment="custom-content">
        <article class="container" style="padding-top: 3%;">
            <header class="row">
                <div class="col s12">
                    <h3 class="center">Rejestracja</h3>
                    <h5 class="center">Załóż konto już teraz!</h5>
                </div>
            </header>
            <section>
                <form th:action="@{/register}" method="post">
                    <div class="row">
                        <div class="col s12 center">
                            <label class="tekst_kolor"> Login:
                                <input type="text" name="username" minlength="3" maxlength="10" data-length="10" required="required"/>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 center">
                            <label class="tekst_kolor"> Hasło:
                                <input type="password" name="password" minlength="6" maxlength="10" data-length="10" required="required"/>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 center">
                            <label class="tekst_kolor"> Opis:
                                <input class="center" type="text" name="introduction" maxlength="16" data-length="16" placeholder="opcjonalne..."/>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 center">
                            <button class="btn waves-effect waves-light btn-large guzik_kolor" type="submit" name="register">Zarejestruj się</button>
                        </div>
                    </div>
                </form>
            </section>
        </article>
    </div>
</body>
</html>