<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      >

<head>
    <div th:replace="shared/fragments :: header-css"/>
    <meta charset="UTF-8">
    <title>[[${pageTitle}]]</title>
</head>
<body>
    <div layout:replace="~{shared/fragments :: menu(${pageName})}"></div>
    <div class="container">
        <h1>[[${pageTitle}]]</h1>
        <div layout:fragment="custom-content"></div>
        <div th:replace="~{shared/fragments :: footer}"></div>
    </div>
</body>
</html>